<ion-view title="CallFler" hide-nav-bar="true" id="page6" style="background-color:#000000;" class=" ">
    <ion-content ng-controller="callFlerCtrl" ng-init="initialize()" padding="true" style="background: url(img/wDwptqYKQ2O1hsb9YdA5_back.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <ion-list>
            <ion-item class="item-button-right call_fler_item">
                <h2 class="call_fler_label">Call Fler</h2>
                <button class="button button-positive" id="call_button" ng-click="call($event)">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="call-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title" id="call_modal_title">Connecting..</h1>
            </ion-header-bar>
            <ion-footer-bar class="bar-assertive">
                <button class="button button-clear pull-right" ng-click="call_hangup()">Hang Up</button>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
</ion-view>
