<ion-view title="call" hide-nav-bar="true" id="page2" style="background-color:#000000;" class=" ">
    <ion-content padding="true" style="background: url(img/2iWBLc0oQvyHT7TlYrko_Unbenannt-3.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 276px;"></div>
        <div class="">
            <img src="img/B7RKyGlNSEe8vWd6DBMd_vip.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button nav-transition="none" ui-sref="flerPhone" id="call-button7" class=" button button-dark  button-block ">JETZT MEMBER WERDEN</button>
        <button nav-transition="none" ui-sref="flerPhone" id="call-button8" class=" button button-dark  button-block ">Zurück</button>
    </ion-content>
</ion-view>
