<ion-view title="FlerPhone" hide-nav-bar="true" id="page1" style="background-color:#000000;" class=" ">
    <ion-content padding="true" style="background: url(img/gFmmeHYRMOo7znm8y5Qg_testorap%2520Kopie.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 284px; height: 299px;"></div>
        <div class="">
            <img src="img/W8NSBDW8ToGVwTmjQxRe_flerphone.png" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 152px;"></div>
  <div style="position: absolute; bottom: 20px; width:96%" class=" button-bar">

            <a nav-transition="none" ui-sref="news" id="flerPhone-button4" class=" button button-dark  button-block icon ion-navicon-round "></a>
            <a nav-transition="none" ui-sref="call" id="flerPhone-button5" style="color:#FFFFFF;" class=" button button-dark  button-block icon ion-ios-telephone "></a>
            <a nav-transition="none" ui-sref="videos" id="flerPhone-button6" class=" button button-dark  button-block icon ion-ios-videocam "></a>
            <a nav-transition="none" ui-sref="call_fler" id="flerPhone-button7" class=" button button-dark  button-block icon ion-navicon-round "></a>
        </div>
    </ion-content>
</ion-view>
