<ion-view title="videos" hide-nav-bar="true" id="page5" style="background-color:#000000;" class=" ">
    <ion-content padding="true" style="background: url(img/wDwptqYKQ2O1hsb9YdA5_back.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <div class="">
            <img src="img/TstiPGP0RJ20OzoXN37U_videos.png" width="43%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videos-video4" class=" ">
            <iframe src="https://www.youtube.com/embed/fPsOzRSdidw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videos-video5" class=" ">
            <iframe src="https://www.youtube.com/embed/iPZQZLJIR-8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>


        <div style="position: absolute; bottom: 20px; width:96%" class=" button-bar">

                  <a nav-transition="none" ui-sref="news" id="flerPhone-button4" class=" button button-dark  button-block icon ion-navicon-round "></a>
                  <a nav-transition="none" ui-sref="call" id="flerPhone-button5" style="color:#FFFFFF;" class=" button button-dark  button-block icon ion-ios-telephone "></a>
                  <a nav-transition="none" ui-sref="videos" id="flerPhone-button6" class=" button button-dark  button-block icon ion-ios-videocam "></a>

                  <a nav-transition="none" ui-sref="call_fler" id="flerPhone-button7" class=" button button-dark  button-block icon ion-navicon-round "></a>
              </div>

    </ion-content>
</ion-view>
