<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <title>Phoneholder App</title>

        <script type="text/javascript">
            var serverContextPath = "http://meinejordans.com/server.php";
            // var serverContextPath = "http://localhost:8888";
        </script>

        <script type="text/javascript" src="cordova.js"></script>
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <link href="css/ionic.app.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/tcPlugin.js"></script>
        
</script>
    </head>
    <body ng-app="twilioApp">
        <ion-header-bar align-title="center" class="bar-positive">
            <h1 class="title">Phoneholder App</h1>
        </ion-header-bar>
        <ion-content ng-controller="MainCtrl" ng-init="initialize()">
            <ion-list>
                <ion-item class="item-button-right" ng-repeat="caller in callers">
                    {{caller['user_id']}}
                    <button class="button button-positive" id="call_receive_button" ng-click="call_accept($index)">
                        <i class="icon ion-ios-telephone"></i>
                    </button>
                </ion-item>
            </ion-list>
        </ion-content>
        
        <script id="call-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title" id="call_modal_title">Connected</h1>
                </ion-header-bar>
                <ion-footer-bar class="bar-assertive">
                    <button class="button button-clear pull-right" ng-click="call_hangup()">Hang Up</button>
                </ion-footer-bar>
            </ion-modal-view>
        </script>
    </body>
</html>
